@charset "utf-8";

@use "../../css/common";

// レスポンシブ対応
// ブレイクポイント
$mb: 767px;
$tb: 834px;
$md: 990px;
$anm: 1100px;
// @mediaのフォーマット
@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: $tb) {
    @content;
  }
}
@mixin middle {
  @media screen and (max-width: $md) {
    @content;
  }
}
@mixin animation {
  @media screen and (max-width: $anm) {
    @content;
  }
}

// フォント
$font-italiana: "Italiana", serif;
$font-cambay: "Cambay", sans-serif;

h2 {
  font-family: $font-italiana;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 0.1em;
}

h3 {
  font-family: $font-italiana;
  font-weight: normal;
  font-size: 25px;
}
.menu {
  font-family: $font-italiana;
  font-weight: normal;
  color: #ffffff;
  font-size: 30px;
}

.about,
.contact {
  width: 73%;
  margin: 0 auto;
  @include mobile {
    width: 83%;
  }
}

header {
  position: relative;
  .first_header {
    display: flex;
    align-items: center;
  }
  .header_wrap {
    position: absolute;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    @include tablet {
      padding: 15px;
    }
    .emiuno_logo {
      width: 58px;
      @include tablet {
        width: 50px;
      }
    }
  }
  .header_img {
    width: 100%;
    display: block;
    @include tablet {
      display: none;
    }
  }
  .header_img_sp {
    display: none;
    @include tablet {
      display: block;
      width: 100%;
      height: 52px;
    }
  }
}

.js-in.active {
  opacity: 1;
}
.about {
  padding-top: 70px;
  opacity: 0;
  transition: opacity 3s, transform 3s;
}
.about_title {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  margin-left: -12%;
  @include tablet {
    margin-left: -5%;
  }
}
.title {
  padding-left: 10px;
}
.title_shape {
  width: 10px;
  height: 10px;
  border-top: 1px solid #012f4e;
  border-right: 1px solid #012f4e;
  transform: translate(-50%, 0) rotate(45deg);
}

.about_wrap {
  display: grid;
  grid-template-rows: 530px 0px;
  grid-template-columns: 30% 1fr;
  @include animation {
    grid-template-rows: 560px 490px;
    grid-template-columns: 59% 1fr;
  }
  @include mobile {
    display: block;
  }
  .about_pic {
    width: 100%;
    text-align: center;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    padding-bottom: 160px;
    @include animation {
      width: 100%;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      display: flex;
      align-items: center;
    }
    @include mobile {
      padding-bottom: 80px;
    }
  }
  img {
    width: 250px;
    padding-top: 30px;
    @include mobile {
      width: 90%;
    }
  }
}
.about_left {
  width: 100%;
  grid-row: 1 / 3;
  grid-column: 1 / 1;
  @include animation {
    width: 80%;
    grid-row: 1 / 2;
  }
  @include mobile {
    width: 100%;
    padding-bottom: 40px;
  }
  .left_title {
    display: flex;
    align-items: baseline;
    font-family: $font-cambay;
    font-size: 24px;
    span {
      padding-left: 10px;
    }
  }
  .left_content {
    padding-top: 40px;
    p {
      font-size: 14px;
      padding-bottom: 30px;
      line-height: 1.78;
      &:last-child {
        padding-bottom: 0px;
      }
    }
  }
}
.about_right {
  width: 100%;
  grid-row: 1 / 3;
  grid-column: 3 / 4;
  margin-left: 10%;
  @include animation {
    width: 100%;
    grid-row: 2/3;
    grid-column: 1/3;
    margin-left: 0px;
  }
  .right_title {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #012f4e;
    padding-bottom: 10px;
    .ja_title {
      margin-left: 10px;
      font-size: 15px;
    }
  }
  ul {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 40px;
    @include tablet {
      margin-bottom: 50px;
    }
    li {
      display: flex;
      align-items: baseline;
      padding-bottom: 10px;
      span {
        padding-right: 10px;
      }
    }
  }
  .vision_content {
    padding-top: 10px;
    p {
      font-size: 14px;
      line-height: 1.78;
      letter-spacing: 0.05em;
      padding-bottom: 30px;
    }
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: -8px;
  @include tablet {
    margin-bottom: -5px;
  }
  @include mobile {
    display: block;
    margin-bottom: 0px;
    position: relative;
    margin-bottom: -6px;
    margin-top: 220px;
  }
  .hope {
    font-family: $font-italiana;
    font-weight: normal;
    font-size: 50px;
    margin-left: -12%;
    color: #012f4e;
    letter-spacing: 0.1em;
    @include animation {
      font-size: 41px;
    }
    @include middle {
      font-size: 36px;
    }
    @include tablet {
      font-size: 33px;
    }
    @include mobile {
      width: 317px;
      font-size: 30px;
      letter-spacing: 0.07em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-bottom: 350px;
      margin-left: 0px;
    }
  }
  .arrow {
    width: 30px;
    margin-left: -250px;
    animation: arrowmove 1.6s ease-out infinite;
    @keyframes arrowmove {
      0% {
        transform: translateX(0px);
      }
      100% {
        transform: translateX(300px);
      }
    }
    @include animation {
      margin-left: -80px;
      animation: arrowmove 1.6s ease-out infinite;
      @keyframes arrowmove {
        0% {
          transform: translateX(0px);
        }
        100% {
          transform: translateX(160px);
        }
      }
    }
    @include tablet {
      width: 25px;
    }
    @include mobile {
      display: none;
    }
  }
  .arrow_sp {
    display: none;
    @include mobile {
      display: block;
      width: 30px;
      margin-left: 0px;
      animation: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-bottom: 150px;
    }
  }
  .contact_btn {
    position: relative;
    right: -90px;
    bottom: -93px;
    width: 200px;
    height: 200px;
    padding: 15px;
    border-radius: 50%;
    background: linear-gradient(
      #345971 0%,
      #012f4e 25%,
      #345971 50%,
      #012f4e78 100%
    );
    background-position: 1% 50%;
    background-size: auto 200%;
    box-sizing: border-box;
    cursor: pointer;
    @include animation {
      width: 175px;
      height: 175px;
    }
    @include tablet {
      width: 170px;
      height: 170px;
    }
    @include mobile {
      left: 50%;
      transform: translateX(-50%);
      display: block;
      bottom: -99px;
    }
    .btn_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      @include animation {
        font-size: 14px;
      }
    }
    .btn_border {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: #ffffff 1px solid;
      box-sizing: border-box;
    }
  }
}
.contact_btn:hover {
  background-position: 100% 0;
}
